.canvas-wrapper {
  position: relative;
  background: darken($lightGrey, 10%);
  width: 320px;
  height: 320px;
  overflow: hidden;

  .canvas-wrapper__inner {
    @include padding(2, 2);
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - #{$space*4});
    height: calc(100% - #{$space*4});
    transform: translate(-50%, -50%);

    canvas {
      position: absolute;
      object-fit: scale-down;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.canvas-wrapper--output {
    width: 800px;
    height: 600px;

    .canvas-wrapper__inner {
      z-index: 1;

      canvas {
        width: 100%;
        height: 100%;
      }
    }

    #output-message {
      @include padding(2, 1);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      background: $lightGrey;
      //box-shadow: 4px 4px 8px rgba($black, 0.75);
      display: none;

      &.active {
        display: flex;
      }
    }

    .canvas-wrapper--output__controls {
      position: absolute;
      z-index: 2;
      right: $space;
      top: $space;
      display: flex;

      button {
        margin-left: 3px;
      }
    }
  }
}

#depth-map-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, rgba(white, 1) 1px, transparent 0px);
  background-size: 12.5% 100%;
  mix-blend-mode: exclusion;
}
