.canvas-wrapper {
  background: darken($lightGrey, 10%);
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

canvas {
  object-fit: scale-down;
}
