.controls {
  width: 400px;

  .control {
    @include padding(0, 0.25);
    display: flex;

    label {
      width: 40%;
    }

    input {
      width: 60%;

      &[type="checkbox"] {
        margin: 0;
        width: auto;
      }
    }

    .control__input {
      width: 60%;
      display: flex;

      input {
        width: 100%;
        margin-right: $space / 2;
      }
    }
  }
}
