.section {
  display: flex;
  flex-wrap: wrap;

  .section__item {
    margin-bottom: $space;
    margin-right: $space;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: $lightGrey;

    .section__header {
      width: 100%;
      @include padding(1.25, 0.75);
      background: darken($grey, 10%);
    }

    .section__body {
      @include padding(1.25, 1.25);
    }

    &.section__item--output {}
  }

  #drop-input-tile, #drop-input-depth-map {
    &.drag-over {
      opacity: 0.5;
      outline: 1px solid red;
    }
  }
}
